*{
    padding: 0;
    margin: 0;
    font-family: "Microsoft YaHei";
}

/*Í·²¿head*/
a{
    text-decoration: none;
    color: black;
}
.head{
    height: 80px;
    width: 100%;
}
.logo{
    width: 170px;
    height: 60px;
    margin: 10px 0 0 70px;
    float: left;
}
.first{
    height: 655px;
    background: url("../imgs/homepagebeijing.png");
}
.head ul{
    display: block;
    width: 600px;
    height: 80px;
    float: left;
    margin: 0 170px;
}
.head li{
    list-style: none;
    float: left;
    margin: 30px 30px;
}
.mainli a{
    color: #33cc99;
    font-weight: 700;
}
.mainli{
    display: block;
    height: 27px;
    border-bottom: 3px solid #33cc99;
}
.peoplelogo{
    width: 20px;
    height: 20px;
    margin: 30px 0;
}
/*main*/
.main{
    margin: 0 auto;
    width: 1220px;
}
/*search*/
.search{
    height: 39px;
    margin-left: 680px;
    margin-bottom: 20px;
}
.search a{
    background-color: #33cc99;
    color: white;
    width: 114px;
    height: 32px;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    line-height: 32px;
    font-size: 18px;
    margin-right: 30px;
    float: left;
}
.search #find{
    width: 250px;
    height: 28px;
    float: left;
    border: 1px solid #33cc99;
    border-right: none;
    border-left: none;
    outline: none;
}
.search button{
    height: 30px;
    width: 30px;
    display: inline-block;
    float: left;
    border: 1px solid #33cc99;
    border-left: none;
    background: white;
    outline: none;
    cursor: pointer;
}

/*scrolling*/
.scrollimg img{
    width: 100%;
    height: 100%;
}
/*goodtea*/
.goodteahead{
    height: 120px;
    width: 100%;
}
.goodteahead img{
    margin: 50px auto;
    display: block;
}
.gtdetail{
    height: 550px;
    margin-bottom: 20px;
}
.teacher1{
    float: left;
    width: 240px;
    height: 500px;
    border: 1px solid white;
    margin: 0 30px 20px 30px;
    box-shadow:0px 0px 30px #f5f1f1;
}
.teacher1 img{
    width: 146px;
    height: 146px;
    border-radius: 73px;
    margin: 50px 50px;
}
.teacher1 h2{
    font-size: 20px;
    color: #33cc99;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}
.teacher1 h3{
    font-size: 16px;
    color: #888888;
    font-weight: 500;
    margin: 5px 0;
    text-align: center;
}
.teacher1 p{
    font-size: 13px;
    font-weight: 500;
    width: 160px;
    margin: 10px auto;
    color: #b3aeae;
    text-align: left;
    text-align: center;
}
.teacher1 button{
    width: 106px;
    height: 25px;
    background-color:#c9c9c9;
    border: none;
    color: white;
    font-size: 15px;
    margin: 15px 60px;
}
.teacher1 button:hover{
    background-color: #33cc99;
    cursor: pointer;
}
/*newtea*/
.newteahead{
    height: 120px;
    width: 100%;
}
.newteahead img{
    margin: 50px auto;
    display: block;
}
.ntdetail{
    height: 550px;
    margin-bottom: 20px;
}
.more{
    float: right;
    color: #33cc99;
    font-size: 18px;
    font-weight: 600;
}
/*alltea*/
#tab ul{
    margin-left: 50px;
}
#tab li{
    list-style: none;
    float: left;
    font-size: 22px;
    padding:20px;
    cursor: pointer;
}
#tabcon .bdiv{
    clear: both;
}
#tabcon .bdiv{
    display: none;
}
#tabcon .fdiv{
    display: block;
}
.fli{
    font-family: "Microsoft YaHei";
    color: #33cc99;
    border-bottom: 3px solid #33cc99;
}
.alltea{
    height: 580px;
}
.teacher2{
    width:500px;
    height: 190px;
    border: 1px solid #33cc99;
    float: left;
    margin: 30px 0 0 70px;
}
.teacher2 img {
    width: 120px;
    height: 120px;
    float: left;
    margin: 20px 40px 40px 40px;
}
.teacher2 h2{
    font-size: 17px;
    color: #33cc99;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 20px;
}
.teacher2 h3{
    font-size: 14px;
    color: #888888;
    font-weight: 500;
    margin: 5px 0;
}
.teacher2 p{
    font-size: 14px;
    font-weight: 500;
    width: 400px;
    margin: 5px auto;
    color: #b3aeae;
    text-align: left;
}
.teacher2 button{
    width: 80px;
    height: 25px;
    background-color:#c9c9c9;
    border: none;
    color: white;
    font-size: 14px;
    margin: 15px 60px;
}
.teacher2 button:hover{
    background-color: #33cc99;
    cursor: pointer;
}



/*footerÎ²²¿*/
.footer{
    width: 100%;
    height: 86px;
    background-color: #e9fde9;
}
.footer p{
    color:#33cc99;
    text-align: center;
    padding: 3px;
}
.footer a{
    color:#33cc99;
}

